@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#hud {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

#hud button {
    pointer-events: all;
}

#hud > * {
    position: absolute;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message {
    font-size: 10rem;
    letter-spacing: 1rem;
    font-family: 'Russo One';
    transform-origin: center;
    text-transform: uppercase;
    visibility: collapse;
    color: #FFB20D;
}

.pulse {
    animation: pulse .5s alternate infinite ease;
}

@keyframes pulse {
    to {
        transform: scale(1.5);
    }
}